@import "./mainDiv.css";
@import "./tagsAndOthersMainDiv.css";
@import "./myLinksDivExpertice.css";
@import "./slideShowMainDiv.css";
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Bengali:wght@100..900&family=Outfit:wght@564&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    user-select: none;
}


:root{
    --gr:rgb(29, 216, 123);
    --lightVi: rgb(135, 70, 215);
}




html{
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
}


body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    /* background-color: var(--gr); */
}


.shellCover{
    position: relative;
}
.shellCover::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background-color: rgba(255, 0, 0, 0);
}


.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-x: hidden; */
    transition: 0.5s;
    /* background-color: aliceblue; */

}

.container2{
    height: auto;
    width: 80%;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition: 0.5s;
    /* background-color: aliceblue; */

}




.navbarFullDiv{
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1000;
    display: flex;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    /* scale:0 1; */
    /* animation: scroll linear; */
    /* animation-timeline: scroll(); */
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 2px 2px 8px 0.2px rgb(216, 229, 255);

}

/* 
@keyframes scroll {
    to{
        scale: 1 1;
    }
} */


.navbarFullDiv .toggler{
    display: none;
}
.navbarFullDiv .toggler li{
    font-size: 30px;
}


.navbarFullDiv .toggler .togBtn{
    height: 30px;
    width: 60px;
    border-radius: 20px;
    position: relative;
    
    background-color: rgb(228, 240, 250);
}

.navbarFullDiv .toggler .togBtn::before{
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background-color: rgb(103, 103, 103);
    border-radius: 50%;
    transition: 0.2s;
}


.navbarFullDiv .toggler .togBtn.active::before{
    left: 30px;
    
}


.navbarFullDiv .navbarStart{
    height: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.navbarFullDiv a.logoTitle{

    font-size: 20px;
    width: 180px;

    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 700;

    border-top-left-radius: 5px;
    border-top-right-radius: 50px;
    color: rgb(101, 0, 224);
    font-family: "Outfit", sans-serif;
    
}

.navbarFullDiv .navbar{
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 10px;
    font-family: "Outfit", sans-serif;
    /* background-color: aliceblue; */
    /* background-color: red; */
}


.navbar a{
    height: 30px;
    width: 100px;
    text-decoration: none;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;

}

.navbar a.github{
    color: white;
    background-color: rgb(58, 20, 129);
}

.navbar a:hover{
    background-color: var(--lightVi);
    color: white;
}



.experArrow{
    position: fixed;
    top: 70vh;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    transition: 0.3s;
    /* z-index: -300; */
}


.experArrow.remove{
    opacity: 0;
}


.aboutTobefFooter{
    background-color: red;
}


footer{
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    background-color: aliceblue;
    border-top: 10px solid rgba(137, 43, 226, 0.268);
}

.footerDivMain{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 50px;
    min-width: 70%;
    margin-top: 20px;
    padding: 20px;
    /* background-color: red; */
}


.footerDivMain .emailDiv{
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 150px;
    flex-wrap: wrap;
}

.footerDivMain .emailDiv .emailTitle{
    /* background-color: rgb(12, 226, 12); */
    /* padding: 10px; */
    min-width: 80px ;
    color: gray;
    font-size: 25px;
}

.emailDiv .emailAdd{
    user-select: all;
}





footer .footerDivMain .OnlineServiceProfiles .serviceLink{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

footer .footerDivMain .OnlineServiceProfiles .serviceLink p.serviceName{
    color: gray;
    font-size: 25px;
    width: 150px;
    /* background-color: rgb(34, 227, 30); */
}


.footerDivMain .socialMediaDiv{
    /* background-color: green; */
    height: auto;
    display: flex;
    flex-direction: column;

}

.footerDivMain .socialMediaDiv .socialMediaTitle{
    font-size: 25px;
    color: gray;
    min-width: 150px;
    /* background-color: red; */
}

.footerDivMain .socialMediaDiv a{
    margin-right: 10px;
}

footer .footerDivMain .FstWrite{
    margin-top: 20px;
    
}






a{
    text-decoration: none;
    color: black;
}



@media screen and (max-width:1030px) {
  

  
    
    .navbarFullDiv .navbar{
        position: fixed;
        top: 100px;
        right: 10px;
        min-height: 300px;
        height: auto;
        width: 150px;
        padding: 20px 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        backdrop-filter: blur(10px);
        background-color: rgb(255, 255, 255);

    }

    .navbarFullDiv .logoTitle{
        height: 30px;
        width: 140px;
        font-size: 20px;
        font-family: "Outfit", sans-serif;

    }

   
    .navbarFullDiv .toggler{
        display: block;
    }

    .navbarFullDiv .toggleNav{
        right: -100%;
        transition: 0.3s;
    }

    .navbarFullDiv .toggleNav.active{
        display: flex;
        right: 10px;
        
    }

    .navbarFullDiv .togBtn.active{
        background-color: rgb(175, 255, 175);

    }

    .navbarFullDiv .toggler .togBtn.active::before{
        background-color: rgb(14, 195, 14);
    }

    .navbarFullDiv .toggler li{
        transition: 0.5s;
    }
}



@media screen and (max-width:1130px) {
    .experArrow{
        position: inherit;
        display: none;
    }

}




@media screen and (max-width:850px) {
    .footerDivMain{
        justify-content: start;
    }
}


@media screen and (max-width:672px) {

    
    footer .footerDivMain{
        justify-content: center;
    }

    footer .footerDivMain .OnlineServiceProfiles .serviceLink{
        justify-content: center;
        text-align: center;
        /* background-color: rgb(255, 201, 201); */
    }

    .footerDivMain .socialMediaDiv .socialMediaTitle{
        text-align: center;
    }

    .allFooterDiv{
        /* background-color: red; */
        width: 60%;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}






@media screen and (max-width:250px) {
 
.all250bep{
    transform: scale(0.8);
    font-size: 14px;
}

.all250bep::before{
    display: none;
}


.myLinksDiv {
    position: static;
}


}

/* Main web cover Starts */

